.about {
    padding: 5rem 0;
    background:  linear-gradient(to top right, #212270, #17073c,#642645);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: flex-start;
    }
}

.about-text-container {
    width: 100%;
    padding: 1.5rem;
}

.about-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #edf2f8;
    margin-top: auto;
}

.about-description {
    font-size: 1rem;
    color: #f2f5fa;
    margin-bottom: 1rem;
}

.skills-container {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #f0f2f6;
}

.skills-description {
    font-size: 1rem;
    color: #e2e6ed;
    text-align: center;
    margin-bottom: 1.5rem;
    max-width: 400px;
} 

.skills-list {
    width: 100%;
    max-width: 400px;
}

.skills {
    margin-bottom: 1rem;
}

.skill-label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: #f4eeee;
    margin-bottom: 0,5rem;
}

.skillBar-container {
    width: 100%;
    background-color: #e5e7eb;
    border-radius: 9999px;
    height: 1rem;
    overflow: hidden;
}

.skill-bar {
    height: 1rem;
    background-color: #3b82f6;
    border-radius: 9999px;
}